* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #000;
  --text-color: #fff;
  --button: #8257e5;
  --border: #29292e;
  --border-menu-mobile: #a8a8b3;
  --text-color-menu-mobile: #e1e1e6;

  --nav-height: 9.5rem;

  font-size: 62.5%; /* 1rem = 10px*/
}

html,
body {
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Manrope';
  font-size: 1.6rem;
  text-align: center;
  background: var(--background) url(./assets/blur-mobile.png) no-repeat bottom;
  background-size: 100% auto;
}

.button {
  width: 17.4rem;
  height: 3.5rem;
  color: white;
  background-color: transparent;

  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.5rem;

  border: 1px solid var(--button);
  border-radius: 0.6rem;

  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 8.8rem;

  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;

  transition: all 0.5s ease;
}

.wrapper {
  width: 100%;
  /* margin-left: 2.4rem;
  margin-right: 2.4rem; */

  margin-inline: auto;
  padding-inline: 2.4rem;
}

#header {
  margin-bottom: 8rem;
  border-bottom: 1px solid var(--border);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo-desktop {
  visibility: hidden;
  display: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--nav-height);
}

nav ul li a {
  color: var(--border-menu-mobile);
  transition: color 0.2s;
  position: relative;
}

nav ul li a:hover {
  color: var(--button);
}

nav ul.grid li a.active::after {
  content: '';
  width: 0.5rem;
  height: 5.5rem;
  background: var(--button);
  position: absolute;
  top: -1.6rem;
  left: -3rem;
}
nav ul.grid li {
  border-bottom: 1px solid var(--border);
  padding: 1.7rem 3rem;
  text-align: left;
}

nav .toggle {
  cursor: pointer;
}
nav .menu {
  opacity: 0;
  visibility: hidden;
}

nav.show .menu {
  opacity: 1;
  visibility: visible;

  background-color: var(--background);
  height: 100vh;
  width: 100vw;

  position: fixed;
  top: calc(var(--nav-height) + 0.1rem);
  left: 0;
}

nav.show .menu ul.grid li a.active {
  font-weight: 700;
}

nav .close-menu {
  visibility: hidden;
  opacity: 0;
  display: none;
}

nav.show .close-menu {
  visibility: visible;
  display: inline-flex;
  opacity: 1;
}

nav.show .open-menu {
  visibility: hidden;
  opacity: 0;
}

#content h1 {
  font-size: 5rem;
  font-weight: 700;
  line-height: 6.8rem;
  color: var(--text-color);
  margin-bottom: 2.5rem;
}

#content h1 span {
  color: var(--background);
  text-shadow: -1px -1px 0 var(--button), 1px -1px 0 var(--button),
    -1px 1px 0 var(--button), 1px 1px 0 var(--button);
}

#content h4 {
  color: var(--text-color);
  font-weight: 700;
  font-size: 3rem;
  line-height: 4.1rem;
  margin-bottom: 8.8rem;
}

.button.desktop {
  opacity: 0;
  visibility: hidden;
  display: none;
}

.button:hover {
  background-color: var(--button);
}

.cup-coffee img {
  width: 100%;
  position: absolute;
  bottom: 0;
  transform: translateX(-50%);
  z-index: -1;
}

/* ========== DESKTOP ========== */

@media (min-width: 1200px) {
  body {
    background: url(./assets/blur-1.png), url(./assets/blur-2.png);
    background-repeat: no-repeat;
    background-position: bottom left, top right;
    background-color: var(--background);
  }
  .wrapper {
    width: min(116rem, 100%);
  }
  #header {
    padding-top: 5rem;
    border-bottom: none;
    margin-bottom: 4rem;
  }

  nav {
    display: flex;
    justify-content: space-between;
    gap: 13rem;
  }

  nav .logo-mobile {
    opacity: 0;
    visibility: hidden;
    display: none;
  }

  nav .logo-desktop {
    opacity: 1;
    visibility: visible;
    display: inline;
  }

  nav .menu {
    opacity: 1;
    visibility: visible;
    top: 0;
  }

  nav .menu ul {
    display: flex;
    list-style: none;
  }

  nav .menu ul li,
  nav .menu ul li a.active::after {
    border-bottom: 0;
    content: none;
  }

  nav .button.desktop {
    opacity: 1;
    visibility: visible;
    margin-bottom: 0;
    display: flex;
    margin: 0;
  }

  nav .open-menu {
    display: none;
  }

  /* ========== SEÇÃO CONTEUDO ========== */

  #content h4 {
    display: none;
  }
  #content a.button {
    display: none;
  }
  #content h1 {
    display: grid;
    font-size: 10rem;
    gap: 3rem;
  }
  #content .cup-coffee img {
    max-width: 60%;
  }
}
